// @font-face {
// 	font-family: icomoon;
// 	font-display: swap;
// 	src: url("../fonts/icomoon.woff2") format("woff2"), url("../fonts/icomoon.woff") format("woff");
// 	font-weight: 400;
// 	font-style: normal;
// }
@font-face {
	font-family: Verdana;
	font-display: swap;
	src: url("../fonts/Verdana-bold.woff2") format("woff2"), url("../fonts/Verdana-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Verdana;
	font-display: swap;
	src: url("../fonts/Verdana-regular.woff2") format("woff2"), url("../fonts/Verdana-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Verdana;
	font-display: swap;
	src: url("../fonts/Verdana-italic.woff2") format("woff2"), url("../fonts/Verdana-italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: Verdana;
	font-display: swap;
	src: url("../fonts/Verdana-boldItalic.woff2") format("woff2"), url("../fonts/Verdana-boldItalic.woff") format("woff");
	font-weight: 700;
	font-style: italic;
}
