





















.footer {
    background-color: #343434;
    color: #fff;

    &__wrapper {}

    &__container {}

    &__body {
        @include adaptiv-value("height", 100, 60, 1);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__copyrights {
        @include adaptiv-value("font-size", 12, 10, 1);
    }

    &__links {}
}

.links {
    color: $patternRed;
    display: flex;
    & *:not(:last-child) {
        margin-right: 17px;
        @include adaptiv-value("margin-right", 17, 5, 1);
    }

    &__linkedin {}

    &__vline {
        width: 1px;
        height: 20px;
        background-color: $patternRed;
    }

    &__facebook {}

    &__twitter {}

    &__youtube {}
}