.header {


    
    color: white;
    position: relative;
    background: url('@img/dark-background.jpg') center no-repeat;
    background-size: cover;
    @include adaptiv-value("height", 900, 250, 1);

    &__intersection-trigger{
        position: absolute;
        top: 0;
        min-height: 50px;
        width: 100%;
        border: 1px solid rgb(235, 209, 14);

    }

    &__wrapper{
        position: fixed;
        width: 100%;
        z-index: 5;

        transition: all 0.3s ease 0s;
        @media (max-width:$mobile){
            background-color: rgba($color: #343434, $alpha: 0.8);
        }
    }

    &__wrapper._scroll{
        background-color: rgba($color: #343434, $alpha: 0.8);
    }


    &__chart{
        
        width: 100%;
        height: 65%;
        position: absolute;
        bottom: 0;
        right: 0;

        &::before{
            content:'';
            
        }
    }

    &__diagram{
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        
    }


    &__mark{
        @media (max-width:$mobile){
             display: none; 
        }

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        letter-spacing: 1px;

        position: absolute;
        background-color: $patternRed;
        width: 100px;
        height: 35px;
        border-radius: 10px;

        right: 40px;
        top: 0;
        transform: translate(0, -50%);
        &::before{
            content: '';
                position: absolute;
                right: -25px;
                top: 7.5px;
                border: 10px solid transparent;
                border-left: 20px solid $patternRed;
        }
    }











    &__container {

        
    }

    &__body {

        display: flex;
        padding: 10px;
        width: 100%;
        height: 100px;
        transition: all 0.3s ease 0s;

        @media (min-width:$mobile){
            justify-content: space-between;
            align-items: flex-end;
        }

        @media (max-width:$mobile){
            z-index: 5;
            left: 0;
            align-items: center; 
            justify-content: flex-end;
            height: 50px;
        }

        ._scroll & {
            align-items: center;
            height: 50px;
        }
    }



    &__logo {


        color: $patternRed;
        font-weight: bold;
        font-size: 32px;
        
        @media (max-width:$mobile){
            position: relative;
            z-index: 5;
        }
        
    }

}


.menu {

    color: #fff;
    &__list {

        display: flex;
        position: static;

        @media (max-width:$mobile){
        font-size: 14px;
        transition: all 0.3s ease 0s;

        position: absolute;
        flex-direction: column;
        right: -100%;
        top: 0;
        width: 247px;
        padding-top: 65px;

        background: #fff;
        color: #343434;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;



        }

    }

    &__item {
        @media(any-hover: hover){
               &:hover{
                    text-decoration: underline;
               }
            }

        @media (min-width:$mobile){
            &:not(:last-child) {
                @include adaptiv-value("margin-right", 50, 15, 1);
            }
        }

        @media (max-width:$mobile){
            font-weight: bold;
            padding-left: 15px;
            margin-bottom: 15px;
        }
    }



///////////////////////// nav-intersection
&__item {
    @media (min-width:$mobile){
        position: relative;
        &::before{
            content:'';
            transition: all 0.3s ease 0s;
            position: absolute;
            width: 0;
            opacity: 0;
            height: 3px;
            background-color: $patternRed;
            bottom: -5px;
        }
        &.nav-intersecting::before{
            width: 100%;
            opacity: 1;
        }
    }



    a{
        position: relative;

        &::before{
            content:'';
            transition: all 0.3s ease 0s;
            position: absolute;
            width: 0;
            opacity: 0;
            height: 3px;
            background-color: $patternRed;
            bottom: -4px;
        }
        
    }

        &.nav-intersecting a::before{
            width: 100%;
            opacity: 1;
        } 
}





/////////////////// .menu._active
@media (max-width:$mobile){
    &._active{
            .menu__list {
                position: absolute;
                right: 0;
            }
        }
    }
}

.nav-intersection-item{
    
}

        .icon-menu {
            display: none;
        }
@media (max-width:$mobile){
     .icon-menu{
        display: block;
        z-index: 5;
        height: 24px;
        background: transparent;
        flex: 0 0 32px;
        margin-left: 20px;
        position: relative;

        span{
            position: absolute;
            height: 4px;
            width: 100%;
            border-radius: 5px;
            background-color: #fff;

            transition: all 0.3s ease 0s;

            &:not(:last-child) {
                margin-bottom: 8px;
            }

            &:nth-child(1){
                left: 0;
                top: 0;
            }

            &:nth-child(2){
                left: 0;
                top: 50%;
                transform: translate(0,-50%);
            }

            &:nth-child(3){
                left: 0;
                bottom: 0;
            }
        }
     }

///////////////////////// _.icon-menu._active



.icon-menu._active{

    span{
        background-color: $patternRed;
        &:nth-child(1){
            top: 50%;
            transform: translate(0,-50%) rotate(45deg) ;


        }

        &:nth-child(2){
            top: 50%;
            transform: translate(0, -50%) rotate(-45deg)scale(0);
            

        }

        &:nth-child(3){
            top: 50%;
            transform: translate(0, -50%) rotate(-45deg);

        }
    }
}




}











