@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins.scss";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts.scss";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
@import "fonts/icons";

// Шрифт по умолчанию ========================================================================================================================================================================================================================================

$fontFamily: "Verdana";
$fontSize: rem(14); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #000; // Цвет шрифта по умолчанию
$patternRed: #fe504f;
$patternLightBlack: #343434;


// НАСТРОЙКИ ========================================================================================================================================================================================================================================


// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
// $maxWidth: 1600; // 1600
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1200;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

$end: em(1999.98);
// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";


body {
	width: 100%;
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
	// Сайт загружен
	.loaded & {
	}
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}

	
	@media (min-width:$end){
		max-width: rem(2133.98);
		box-sizing: content-box;
		margin: 0 auto;
	}

	position: relative;
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
} @else {
	// По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

*::-webkit-scrollbar {
	width: 0;
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";










































.page {
	color: white;
	&__wrapper {}



	&__container {
	}

	&__home {
		
	}

	&__services {
		
	}

	&__about-us {}

	&__news {}

}


////////////////////////////////// home
.home {
	&__body{
		display: flex;
		flex-direction: column;
		position: absolute;
		@include adaptiv-value("top", 270, 50, 1);
		@media (max-width:$mobile){
			@include adaptiv-value("top", 100, 60, 1);
		}
	}


	&__title {
		color: white;
		@include adaptiv-value("font-size", 60, 22, 1);
		@include adaptiv-value("line-hight", 64, 30, 1);
	}

	&__text {
		@media (max-width:$mobile){
			
		}
		@include adaptiv-value("padding-top", 30, 15, 1);
		@include adaptiv-value("font-size", 20, 14, 1);
		@include adaptiv-value("line-height", 28, 15, 1);
		max-width: 450px;
		margin-right: 35px
	}

	&__actions {
		@include adaptiv-value("padding-top", 50, 20, 1);
	}

	&__button {
		display: inline-block;
		&_get {
			@include adaptiv-value("margin-right", 30, 20, 1);
		}

		&_learn {}
	}
}

.btn {
	&_dark {}
}




////////////////////////////////// services

.services {
	text-align: center;
	@include adaptiv-value("margin-bottom", 75, 30, 1);

	&__lead{
	}

	&__list {
	}
}

.dotted-contact {
	background: url('../img/dotted/dotted-contact.png') center / cover no-repeat;

}




//////////////////////////////// list-services

.list-services {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		

		
	}

	&__icon {
		padding-bottom: 55px;
		width: 55px;
		@include adaptiv-value("margin-bottom", 16, 10, 1);
	}

	&__title {
		font-size: 16px;
		@include adaptiv-value("margin-bottom", 8,5, 1);
	}

	&__line {
		@include adaptiv-value("margin-bottom", 18,11, 1);
	}

	&__text {
		line-height: 24px;
		color: #4a4a4a;
		font-size: 14px;
	}
	
	@media (max-width:$mobile){
		margin: -15px -5px;
		&__item{
			flex: 0 0 50%;
			padding: 15px 5px;
			height: 200px;
		}
	}

	@media (max-width:$mobileSmall){
		&__item {
				flex: 0 0 100%;
			}
	}

	@media (min-width:$mobile){
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		gap: 55px;
	
	}


}






//////////////////////////////////// about-us

.about-us {

	@include adaptiv-value("margin-bottom", 75, 30, 1);

	&__container {}

	&__body {
	}

	&__lead {
	}

	&__content {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		row-gap: 30px;
		@media (min-width:$tablet){
			grid-template: auto auto / 1fr 1fr;
				.team {
					grid-column: span 2;
				}
		}

		
		.title{
			@include adaptiv-value("padding-bottom", 16, 10, 1);
		}

		.line{
			@include adaptiv-value("padding-bottom", 27, 16, 1);
		}
	}

//////////////////////////////////// what-we-do

		.what-we-do {
			
	
			&__text {
				@media (max-width:$pc){
					 overflow: scroll; 
				}
				padding-right: 15px;
				color: #343434;
				font-size: 14px;
				line-height: 24px;
			}
		}

//////////////////////////////////// SLIDER
* {
	// сокровище, фикс бага swiper
	min-height: 0;
	min-width: 0;
}

	&__clients {

display: flex;
flex-direction: column;
justify-content: center;

		& .title{

		}

		& .line{
			@media (max-width:$pc){
				// padding-bottom: 0;
			}
		}
		
		.swiper {
			margin: auto 0;

			

		.swiper-wrapper {}

		.swiper-slide {
				display: grid;
				grid-template: repeat(2,1fr) / repeat(3,1fr);
				gap: 7.5px;
				&__item {
					padding-bottom: calc(185px / 185px)* 100%;
				}
		}

		.swiper-pagination {
			margin-top: 20px;
			display: flex;
			justify-content: center;
			align-items: center;

			.swiper-pagination-bullet{
					height: 6px;
					width: 50px;
					background-color: #aeaeae;
					transition: background-color 0.3s ease 0s;
					&:not(:last-child) {
						margin-right: 5px;
					}
			}
			.swiper-pagination-bullet-active{
				background-color: $patternRed
			}
		}

		}

	}


//////////////////////////////////// team

	.team {

	&__title {}

	&__line {}

	.grid-team {

		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

		&__item {
			padding-bottom: calc(200px / 200px)* 100%;
		}
		.item-lead {
			color: white;
			background: $patternRed;
			padding: 0 18px;
			display: flex;
			flex-direction: column;
			// justify-content: end;

			&__name {
				font-size: 32px;
				line-height: 40px;
				font-weight: bold;
				justify-self: flex-start;
			}

			&__line {
				margin-top: auto; // полезная штука для flexoв
				align-self: center;
				width: 160px;
				border-top: 1.5px solid rgb(194, 46, 46);
				padding-bottom: 10px;
			}

			&__position {
				font-size: 12px;
				line-height: 24px;
				font-weight: bold;
			}

			&__2nd-position {
				
				justify-self: end;
				font-size: 12px;
				line-height: 24px;
				padding-bottom: 20px;
			}
		}
	}
}

}

.dotted-play {

	background: url('@img/dotted/dotted-play.png') center / cover no-repeat;;

	&__play {
		@include adaptiv-value("width", 90, 50, 1);
		@include adaptiv-value("height", 90, 50, 1);
		background-color: $patternRed;
		border-radius: 50%;
		position: relative;

		&::after {
			content: '';
			display: inline-block;
			width: 0;
			height: 0;
			border-top: 12px solid transparent;
			border-left: 24px solid rgb(255, 255, 255);
			border-bottom: 12px solid transparent;

			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-40%, -50%);

		}

		@media (max-width:$mobile) {
			margin-top: 15px;
		}
	}
}

/////////////////////////// News

.news {
	@include adaptiv-value("margin-bottom", 75, 30, 1);
	&__container {
	}

	&__body {}

	&__lead {
	}

	&__grid {
		display: grid;
		width: 90%;
		margin: 0 auto;
		

		

		
	// 	grid-template: [start] "pic1 pic1 text2 pic3" 1fr [row2]
	// 					[row2] "text4 pic5 pic5 text6" 1fr [row-end] / 1fr 1fr 1fr 1fr;

		grid-template-areas: "pic1 pic1 text2 pic3"
							"text4 pic5 pic5 text6";
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr 1fr;

	// 	@media (max-width:$tablet){
	// 		max-height: 100%;
	// 		grid-template: [start] "pic1 pic1" 1fr [row2]
	// 						[row2] "text2 pic3" 1fr [row3]
	// 						[row3] "text4 text6" 1fr [row4]
	// 						[row4] "pic5 pic5" 1fr [row-end] / 40% 40%;
	// 	}


		@media (max-width:$tablet){
			max-height: 100%;
			grid-template-areas: "pic1 pic1"
								"text2 pic3"
								"text4 text6"
								"pic5 pic5";
			grid-template-columns: 50% 50%;
			grid-template-rows: repeat(4, 1fr);
		}


	// 	@media (max-width:$mobile){
	// 		max-height: 100%;
	// 		grid-template: [start] "pic1" 1fr [row2]
	// 						[row2] "text2" 1fr [row3]
	// 						[row3] "pic3" 1fr [row4]
	// 						[row4] "text4" 1fr [row5]
	// 						[row5] "pic5" 1fr [row6]
	// 						[row6] "text6" 1fr [row-end] / 100%
	// 	}

		@media (max-width:$mobile){
			max-height: 100%;
			grid-template-areas: "pic1" "text2" "pic3" "text4" "pic5" "text6";
			grid-template-columns: 100%;
			grid-template-rows: repeat(6, 1fr);
		}
	}

	&__item {
		padding-bottom: 50px;
	}

	&__item._text{
		padding-bottom: 0;
		position: relative;
		background-color: #343434;
	}

	&__item-title {
		@include adaptiv-value("font-size", 20, 16, 1);
		@include adaptiv-value("line-height", 26, 18, 1);
		color: $patternRed;
		font-weight: bold;
		@include adaptiv-value("padding", 30, -15, 1);
		@include adaptiv-value("padding-bottom", 15, 0, 1);
		.line{
			margin-top: 5px;
		}

		@media (max-width:$tablet){
			font-size: 20px;
			line-height: 26px;
			padding: 30px;
		}
	}

	&__item-text {
		padding-bottom: 0;
		font-size: 12px;
		@include adaptiv-value("line-height", 20, 14, 1);
		@include adaptiv-value("padding", 30, -15, 1);
		@include adaptiv-value("padding-top", 0, 0, 1);
		@include adaptiv-value("padding-bottom", 30, -50, 1);

		@media (max-width:$tablet) {
				font-size: 12px;
				line-height: 20px;
				padding: 0 30px 15px 30px;
			}
	}

	&__item-date {
		font-size: 14px;

		text-align-last: right;
		padding: 0px 30px 0px 0px;
		color: $patternRed;

		@media (max-width:$mobile){
			 padding-bottom: 10px; 
		}
		
	}
}

.news-item1 {
	grid-area: pic1;
	
}

.news-item2 {
	grid-area: text2;

	&::before {
		content: '';
		display: inline-block;
		width: 0;
		height: 0;
		border: 20px solid transparent;
		border-right: 25px solid #343434;

		position: absolute;
		z-index: 1;
		left: 0;
		transform: translate(-95%, 0);
		top: 30px;
	}

	@media (max-width:$tablet){
		&::before {
				border: 20px solid transparent;
				border-bottom: 25px solid #343434;
				left: 20px;
				transform: translate(0, -95%);
				top: 0;
			}
	}
	
	
}

.news-item3 {
	grid-area: pic3;
}

.news-item4 {
	grid-area: text4;

	&::before{
		content:'';
		display: inline-block;
		width: 0;
		height: 0;
		border-top: 20px solid transparent;
		border-left: 25px solid #343434;
		border-bottom: 20px solid transparent;

		position: absolute;
		z-index: 1;
		right: 0;
		transform: translate(95%, 0);
		top: 30px;
	}

	@media (max-width:$tablet){
		&::before {
			border: 20px solid transparent;
			border-top: 20px solid #343434;
			left: 20px;
			transform: translate(0, -5%);
			top: 100%;
		}
	}

	@media (max-width:$mobile){
		&::before {
			border: 20px solid transparent;
			border-bottom: 25px solid #343434;
			left: 20px;
			transform: translate(0, -95%);
			top: 0;
		}
	}
}
// 
.news-item5 {
	grid-area: pic5;
}

.news-item6 {
	grid-area: text6;

	&::before {
		content: '';
		display: inline-block;
		width: 0;
		height: 0;
		border: 20px solid transparent;
		border-bottom: 25px solid #343434;

		position: absolute;
		z-index: 1;
		right: 20px;
		transform: translate(0, -95%);
		top: 0;
	}

	@media (max-width:$mobile){
 		&::before {
			border: 20px solid transparent;
			border-bottom: 25px solid #343434;
			left: 20px;
			transform: translate(0, -95%);
			top: 0;
		}
	}
}



/////////////////// contact-us


.contact-us {

	&__wrapper {
		background: #343434;
		background: url('@img/footer.jpg') no-repeat 100%;
		background-size: cover;

	}

	&__container {}

	&__body {
		color: #fff;
		padding-top: calc(100px / 1200px) * 100%;
		display: flex;
		justify-content: space-between;
		align-items: stretch; //?
		padding-bottom: calc(60px / 1200px) * 100%;
	}

	&__column {
		width: 42%;
		@media (max-width:$mobile){
			width: 46%;
		}
	}
}

.column-left {
	&__title {
		@include adaptiv-value("font-size", 32, 16, 1);
	}

	&__text {
		margin: calc(38px / 1200px) * 100% 0 calc(30px / 1200px) * 100% 0;
		@include adaptiv-value("font-size", 14, 10, 1);
		@include adaptiv-value("line-height", 20, 16, 1);
	}

	&__line {}

	&__contacts {
		margin: calc(50px / 1200px) * 100% 0 0 0;
	}
}

.contacts * {
	border: 1px solid rgb(191, 191, 191);
	@include adaptiv-value("font-size", 14, 10, 1);
	line-height: 20px;
	font-weight: bold;
	@media (max-width:$mobile){
		font-weight: normal;
	}
	text-transform: uppercase;
	position: relative;
	// padding-left: 45px;
	@include adaptiv-value("padding-left", 45, 35, 1);

	&:not(:last-child) {
		@include adaptiv-value("margin-bottom", 33, 20, 1);
	}

///////////////////////konspekt
	&::before {
		color: $patternRed;
		font-weight: normal;

		border: 1px solid $patternRed;
		display: inline-block;
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-align: center;

		position: absolute;
		left: 0;
		top: 50%;
		transform: translate(0,-50%);
	}
}



.column-right {
	&__title {
		@include adaptiv-value("font-size", 32, 16, 1);
	}

	&__line {
		margin-top: calc(16px / 1200px) * 100%;
	}

	&__text {
		margin: calc(50px / 1200px) * 100% 0 calc(38px / 1200px) * 100% 0;
	}

	&__form {}
}

.title {}

.form {
	border: 1px solid rgb(41, 150, 193);
	&__body {
		position: relative;
		&::after{
			
			position: absolute;
			top: 0px;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(120,120,120,0.7);
			z-index: 5;
		}
	}

	&__body._sending {
		&::after{
			content:'';
			
		}
	}

	&__input {
		display: block;
		width: 100%;
		height: 45px;

		background-color: transparent;
		border: 1px solid white;
		margin-bottom: 15px;
		font-size: 14px;
		line-height: 45px;
		color: #fff;
		padding: 0 15px;

		box-shadow: 0 0 0 #fff;
		transition: all 0.3s ease 0s;
	}

	&__input._error{
		border: 1px solid rgb(251, 0, 0);

		box-shadow: 0 0 4px red;
	}

	&__textarea {
		display: block;
		width: 100%;
		height: 180px;

		overflow: auto;
		background-color: transparent;
		border: 1px solid white;
		font-size: 14px;
		line-height: 20px;
		color: #fff;
		padding: 15px;
	}

	&__textarea._error{
		border: 1px solid rgb(251, 0, 0);

		box-shadow: 0 0 15px red;
	}

	&__submit {
		float: right;
		margin-top: calc(50px / 1200px) * 100%;
	}
}



































@import "footer";

// Подключение стилей отдельных страниц
@import "home";



